[user]
	email = medrivia@gmail.com
	name = Umar Alfarouk
[filter "lfs"]
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true
	clean = git-lfs clean -- %f
[credential]
	helper = store
[init]
	defaultBranch = master
[push]
	recurseSubmodules = check
[color]
	ui = auto
[alias]
    ap = add --patch
    ai = add --interactive
	pr = pull --rebase
	lo = log --oneline
    sp = stash push
    sm = submodule
    co = checkout
    cp = cherry-pick
	st = status
    rs = restore
    conf = config
    d = diff
    dt = difftool
    rso = reset --soft
    rha = reset --hard
[pull]
	ff = only
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
    editor = nvim
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictStyle = zdiff3
